<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Админ-панель - Управление событиями</title>
  <link rel="stylesheet" href="/static/styles/admin.css">
</head>
<body>
<div class="container">
  <h1>Управление событиями</h1>

  <div class="actions">
    <a href="/" class="btn btn-back">Назад</a>
    <a href="/admin/events/new" class="btn btn-add">Добавить событие</a>
    <a href="/admin/users" class="btn btn-add">Редактирование админов</a>
    <a href="/admin/events/export" class="btn btn-add">Экспорт мероприятий</a>
    <div>
      <form action="/admin" method="GET" class="search-form">
        <input
                type="text"
                class="search-box"
                name="search"
                placeholder="Поиск событий..."
                value="{{ .searchQuery }}"
        >
        <button type="submit" class="btn btn-search">
          <i class="fas fa-search"></i> Поиск
        </button>
      </form>
    </div>
    </div>
  </div>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th>Дата и время</th>
      <th>Место</th>
      <th>Цена</th>
      <th>Билеты</th>
      <th>Категория</th>
      <th>Описание</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <!-- Этот блок будет рендериться сервером Golang -->
    {{ range .events }}
    <tr>
      <td>{{ .ID }}</td>
      <td>{{ .Title }}</td>
      <td>{{ .DateTime.Format "02.01.2006 15:04" }}</td>
      <td>{{ .Location }}</td>
      <td>{{ printf "%.2f ₽" .Price }}</td>
      <td>{{ .SoldTickets }}/{{ .TotalTickets }}</td>
      <td>{{ .Category }}</td>
      <td>{{ .Description}}</td>
      <td>
        <a href="/admin/events/new?edit={{ .ID }}" class="btn btn-edit">Редактировать</a>
        <a href="/admin?delete={{ .ID }}"
           onclick="return confirm('Удалить это событие?')"
           class="btn btn-delete">Удалить</a>
      </td>
    </tr>
    {{ end }}
    </tbody>
  </table>
</div>
</body>
</html>