<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная - ticketGo</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav>
    {{if .username}}
        <a href="/">Главная</a>
        <span>{{.username}}</span>
        <a href="/logout">Выйти</a>
    {{else}}
        <a href="/">Главная</a>
        <a href="/login">Авторизоваться</a>
        <a href="/register">Зарегистрироваться</a>
    {{end}}
</nav>
<h1>Доступные мероприятия</h1>
<form method="get" action="/">
    <input type="text" name="q" placeholder="Поиск...">
    <button type="submit">Найти</button>
</form>
<form method="post" action="/">
    <select id="phone" name="phone">
        <option value="SortName">По названию</option>
        <option value="SortPrice">По цене</option>
        <option value="SortDate">По дате</option>
        <option value="SortCategory">По категории*</option>
    </select>
    <button type="submit" name="but", value="sort">Сорт</button>
</form>
<ul>
    {{range .events}}
        <li>
            <b>{{.Title}}</b> — {{.DateTime}} — {{.Location}} — {{.Price}}₽
            <br>{{.Description}}
        </li>
    {{else}}
        <li>Нет мероприятий</li>
    {{end}}
</ul>
</body>
</html> 