<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles/navbar.css">
</head>
<body>
    <header>
        <div class="header-container">
            <a href="/" class="logo">
                <i class="fas fa-ticket-alt logo-icon"></i>
                TicketGo
            </a>
            <nav class="nav-links">
                {{if .IsAuthenticated}}
                    <a href="/profile" class="nav-link {{if eq .CurrentPage "profile"}}active{{end}}">
                        <i class="far fa-user">  {{.Username}}</i>
                    </a>
                    <a href="/logout" class="nav-button">Выйти</a>
                    {{if .AdminLevel}}
                    <a href="/admin" class="nav-button">Админ</a>
                    {{end}}
                {{else}}
                    <a href="/login" class="nav-link {{if eq .CurrentPage "login"}}active{{end}}">Войти</a>
                    <a href="/register" class="nav-button">Регистрация</a>
                {{end}}
            </nav>
        </div>
    </header>
</body>
</html> 